/*Style global pour toutes les div background*/
.divBackground {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 26px; 
    box-shadow: 1px 1px 15px  rgba(0, 0, 0, 0.349);
}

.imgBackgroundBlack{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 26px;
    opacity: 0.3;   
}

/*Image background de la page d'accueil*/
.imgBackgroundHome{
    height: 223px;
    position: relative;
    background: url('../../images/imgBackgroundHome.png');      
}

.imgBackgroundHome::after{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    content: "Chez vous, partout et ailleurs";
    font-size: 45px;
    font-weight: 500;
    color:#fff;
}

/*Image background de la page à propos*/
.imgBackgroundAbout{
    height: 223px;
    background-image: url('../../images/imgBackgroundAbout.png');   
}

/*Image background de la page logement*/
.imgBackgroundLodging{
    background: url('../../images/imgBackgroundLodging.png'); 
}

@media (max-width: 1255px){
    .divBackground {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 750px){
    .imgBackgroundHome::after{
        font-size: 35px;
    }
}

@media (max-width: 375px) {
    .divBackground {
        width: 100%;
        max-width: 335px;
        margin-bottom: 20px;
        border-radius: 10px; 
    }
    .imgBackgroundBlack{
        border-radius: 10px;   
    } 
    .imgBackgroundHome{
        max-height: 111px;
        background: url('../../images/imgBackgroundHomeMobile.png');
    }
    .imgBackgroundHome::after{
        font-size: 24px; 
        top:20%; 
        text-align: start;
        margin:15px;
        content: "Chez vous, \A partout et ailleurs";
        white-space: pre-wrap;
    }
    .imgBackgroundAbout{
        height: 223px;
        background: url('../../images/imgBackgroundAboutMobile.png');   
    }
}