/*Style global pour toutes les div background*/
.divBackground {
    width: 1240px;
    height: 223px;
    margin-bottom: 40px;
    border-radius: 26px; 
}

.imgBackgroundBlack{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 26px;
    opacity: 0.3;   
}

/*Image background de la page d'accueil*/
.imgBackgroundHome{
    position: relative;
    background: url('../../images/imgBackgroundHome.png');
      
}

.imgBackgroundHome::after{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    content: "Chez vous, partout et ailleurs";
    font-size: 45px;
    font-weight: 500;
    color:#fff;
}

/*Image background de la page à propos*/
.imgBackgroundAbout{
    background: url('../../images/imgBackgroundAbout.png');   
}

/*Image background de la page logement*/
.imgBackgroundLodging{
    background: url('../../images/imgBackgroundLodging.png'); 
}
