.body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
}


.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 100%;
    max-width: 1240px; 
    min-width: 335px;
    min-height: 95vh;
    margin: auto;
}

@media (max-width: 375px) {
    .container{
        display: flex;
        justify-content: space-between;
        max-width: 335px;
        min-height: 95vh; 
        margin: auto;
    }   
}