.coll_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    height: 47px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background-color: #FF6060;
}


.coll_content {
    padding: 20px;
    box-shadow: 0px 0px 4px 0px rgba(15, 15, 15, 0.2);
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background: #F7F7F7;
    color: #fff;
    max-width: 1024px;
    transition-property: max-height;
    transition: all 10s ease-in;
}

.coll_item {
    color: #FF6060;
    font-size: 24px;
}

/*END*/
.menu_arrow_down {
transform: rotate(0deg);
transition: all 6s linear;
}

.menu_arrow_open {
transform: rotate(180deg);
transition: all 6s linear;
}