.navbar{
    padding: 40px ; 
    margin: 0 100px; 
}

.navbar img{
 width: 200px;
}

.list{
    display: flex;
    align-items: center;
    list-style: none;
}

.item{
    font-weight: 500;
    font-size: 24px;
    margin-right: 40px;    
}

.item a{
    color:#FF6060;
    text-decoration: none;
}

.item a:hover{
    text-decoration: underline;
}

@media (max-width: 375px) {
    .navbar{
        padding: 0; 
        margin: 10px; 
    }
    .lodging_item{
        max-width: 335px;
        margin:0;
    }
    
    .navbar img{
        width: 145px;
        
    }
    .item{
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;    
    }
}