.main {
    margin-bottom: 300px;
}
.contentInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentDropDown {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    font-size: 18px; 
    
}

.dropDownDescription{
    width: 50%;
    margin-right: 70px;
}

.dropDownEquipments{
    width: 50%;
}

.info h1{
    font-size: 36px;
    font-weight: 500;
    color:#FF6060;
}

.info h2{
    font-size: 18px;
    font-weight: 500;
    color:#FF6060;
}

.host{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.host img{
    width: 64px;
    height: 64px;
    margin-left: 20px;
    border-radius: 50%;
}

.host span{
    text-align: right;
    width: min-content;
    font-size: 18px;
    color:#FF6060;
}
@media (max-width: 1255px){
    .contentInfo {
        width: 90%;
        margin: 20px auto;
    }
    .contentDropDown {
        width: 90%;  
        margin: 30px auto;  
    }
    .contentDropDown article{
        width: 100%;
        margin: 0px;
    }
}
@media (max-width: 850px) {
    .contentInfo{
        width: 90%;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 15px;  
    }
    .content_host{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .host{
        order: 1;
    }
    .contentDropDown{
        flex-direction: column;
        width: 90%;
    }
    .dropDownDescription{
        width: 100%;  
    }
    .dropDownEquipments{
        width: 100%;
        margin-top: 10px;
    }
    .info h1{
        font-size: 26px;
    }
    .info h2{
        font-size: 16px;
    }
}
@media (max-width: 375px) {
    
    .info h1{
        font-size: 18px;
    }
    .info h2{
        font-size: 14px;
    }
    .contentDropDown{
        width: 100%;
    }
    
    
    .host img{
        width: 32px;
        height: 32px;
        margin-left: 10px;
    }
    .host span{
        font-size: 12px;
       
    }
}