.container{
    display: flex;
    justify-content: space-between;
    width: 100%;  
}

.min_height{
    min-height: 85vh;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}